{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title"> Basic Information </h4>
            </div>
            <div class="panel-body">
            <form class="form-horizontal form-bordered" data-parsley-validate="true" encType="multipart/form-data" method="post" acceptCharset="utf-8" noValidate="">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3">
                    Image                            </label>
                <div class="col-md-9 col-sm-9">
                    <img src=""/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3">Name</label>
                <div class="col-md-9 col-sm-9">
                    <input class="form-control" type="text" name="name" ref="profile_name"
                    data-parsley-required="true" placeholder="Your Name" defaultValue="Manirul Isalm" data-parsley-id="5119"/>
                    <ul class="parsley-errors-list" id="parsley-id-5119"></ul>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3">Email</label>
                <div class="col-md-9 col-sm-9">
                    <input class="form-control" type="text" name="email" ref="profile_email"
                    data-parsley-required="true" placeholder="Your Email" defaultValue="admin@email.com" data-parsley-id="6582"/>
                    <ul class="parsley-errors-list" id="parsley-id-6582"></ul>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3">Image</label>
                <div class="col-md-9 col-sm-9">
                    <input class="form-control" type="file" ref="profile_image" name="userfile" placeholder="Admin Image" data-parsley-id="3398"/>
                    <ul class="parsley-errors-list" id="parsley-id-3398"></ul>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3"></label>
                <div class="col-md-9 col-sm-9">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>

        </form>               
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Change Password</h4>
            </div>
            <div class="panel-body">
                <form  class="form-horizontal form-bordered"  encType="multipart/form-data" method="post" acceptCharset="utf-8">
                    
                    <div class="form-group">
                        <label class="control-label col-md-5 col-sm-5">Current Password</label>
                        <div class="col-md-7 col-sm-7">
                            <input class="form-control" type="password" ref="profile_previous_password" name="previous_password" data-parsley-required="true"
                                placeholder="Your Present Password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5 col-sm-5">
                            New Password                            </label>
                        <div class="col-md-7 col-sm-7">
                            <input class="form-control" type="password" ref="profile_new_password" name="new_password" data-parsley-required="true"
                                placeholder="Your New Password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5 col-sm-5">
                            Confirm New Password                            </label>
                        <div class="col-md-7 col-sm-7">
                            <input class="form-control" type="password" name="profile_confirm_password" data-parsley-required="true"
                                placeholder="Confirm New Password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-5 col-sm-5"></label>
                        <div class="col-md-7 col-sm-7">
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>

                </form>                
            </div>
        </div>
    </div>
</div>

{% endblock %}