{% extends 'base.html' %}
{% block content %}
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">employeer</a></li>
	</ol>

	<h1 class="page-header">Supplier Page</h1>

	<div class="row" style="margin-left: 1px;">
		<a class="btn btn-success m-r-5" data-toggle="modal" href='#supplier_add_modal'>Add New supplier</a>
	</div>

	<div class="row">
    	<div class="col-md-12">
        	<div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Data Table - Default</h4>
                </div>
                <div class="panel-body">
            		<table id="data-table" class="table table-striped table-bordered" width="100%">
                         <thead>
                            <tr>
                                <th>#</th>
                                <th>Company</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Options</th>
                            </tr>
                        </thead>

                        <tbody>
								<tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                       <button class="btn btn-info btn-icon btn-circle btn-sm"> <i class="fa fa-user"></i> </button>
                                       <button class="btn btn-success btn-icon btn-circle btn-sm"> <i class="fa fa-edit"></i> </button>
                                       <button class="btn btn-danger btn-icon btn-circle btn-sm"> <i class="fa fa-trash"></i></button>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->

<div class="modal fade" id="supplier_add_modal">
    <div class="modal-dialog">
        <div class="modal-content">

        		<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>

                <div class="modal-body">


					<form  method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">

						<div class="form-group">
					        <label class="control-label col-md-4 col-sm-4">Company Name </label>
					        <div class="col-md-6 col-sm-6">
					            <input class="form-control" type="text"  name="company_name" placeholder="Supplier Company"/>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="control-label col-md-4 col-sm-4">Supplier Name </label>
					        <div class="col-md-6 col-sm-6">
					            <input class="form-control" type="text"  name="supplier_name" required="" placeholder="Supplier Name"/>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="control-label col-md-4 col-sm-4">Email </label>
					        <div class="col-md-6 col-sm-6">
					            <input class="form-control" type="email" name="email" required="" placeholder="Supplier Email"/>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="control-label col-md-4 col-sm-4">Phone </label>
					        <div class="col-md-6 col-sm-6">
					            <input class="form-control" type="text"  name="phone" placeholder="Supplier Phone Number"/>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="control-label col-md-4 col-sm-4">Image </label>
					        <div class="col-md-6 col-sm-6">
					            <input class="form-control" type="file" ref="supplier_image" name="userfile" placeholder="Supplier Image"/>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="control-label col-md-4 col-sm-4"></label>
					        <div class="col-md-6 col-sm-6">
					            <button type="submit" class="btn btn-success">Save Supplier</button>
					        </div>
					    </div>

					</form>

                </div>

				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
        </div>
    </div>
</div>

{% endblock %}