{% extends 'base.html' %}
{% block content %}
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>

    <h1 class="page-header">System Settings</h1>

    <div class="row">
        <div class="col-md-8 ui-sortable">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">General Information</h4>
                </div>

                <div class="panel-body">
                <form  class="form-horizontal form-bordered" data-parsley-validate="true" encType="multipart/form-data" method="post" acceptCharset="utf-8" noValidate="">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Company Name</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text"  name="company_name" data-parsley-required="true" placeholder="Company Name"/>
                                    <ul class="parsley-errors-list"></ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Company Email</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text"  name="company_email" data-parsley-required="true" placeholder="Company Email"/>
                                <ul class="parsley-errors-list"></ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Address</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text" name="address" placeholder="Address" defaultValue="Bangladesh" data-parsley-id="9253"/>
                                <ul class="parsley-errors-list"></ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Phone</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text" ref="setting_phone" name="phone" placeholder="Phone" defaultValue="01859343274" data-parsley-id="3283"/>
                                <ul class="parsley-errors-list"></ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Currency</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text" name="currency" placeholder="Currency" defaultValue="TK" data-parsley-id="6097"/>
                                <ul class="parsley-errors-list"></ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3"></label>
                            <div class="col-md-9 col-sm-9">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4 ui-sortable">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Update Logo</h4>
                </div>
                <div class="panel-body">
                    <form action="" class="form-horizontal" encType="multipart/form-data" method="post" acceptCharset="utf-8">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12">
                                <img  src=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12">
                                <input class="form-control" type="file" name="userfile" placeholder="System Logo"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>

                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}