{% extends 'base.html' %}
{% block content %}
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">customer</a></li>
	</ol>

	<h1 class="page-header">Customer Page</h1>

	<div class="row" style="margin-left: 1px;">
		<a class="btn btn-success m-r-5" data-toggle="modal" href='#tax_add_modal'>add new Tax</a>
	</div>

	<div class="row">
    	<div class="col-md-12">
        	<div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all Tax</h4>
                </div>
                <div class="panel-body">
            		<table id="data-table" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Percentage</th>
                                <th>Notes</th>
                                <th>Options </th>
                            </tr>
                        </thead>

                        <tbody>

                            
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
	                               <button class="btn btn-info btn-icon btn-circle btn-sm"> <i class="fa fa-user"></i> </button>
	                               <button class="btn btn-success btn-icon btn-circle btn-sm"> <i class="fa fa-edit"></i> </button>
	                               <button class="btn btn-danger btn-icon btn-circle btn-sm"> <i class="fa fa-trash"></i></button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->

<div class="modal fade" id="tax_add_modal">
    <div class="modal-dialog">
        <div class="modal-content">

        		<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>

                <div class="modal-body">
					
					<form method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">


                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"> Tax Code</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text"  name="tax_code" required="" defaultValue="3088aae"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">Tax Name	</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text"  name="tax_name" required="" placeholder="Tax Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">Tax Percentage</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text"  name="tax_percentage" required="" placeholder="Tax Percentage" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">Notes</label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control"  name="tax_notes" placeholder="Notes" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-success">Save Tax Settings</button>
                            </div>
                        </div>

					</form>

                </div>
				
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
        </div>
    </div>
</div>

{% endblock %}