{% extends 'base.html' %}
{% block content %}
<ol class="breadcrumb pull-right">
    <li><a href="">dashboard</a></li>
    <li><a href="">Product</a></li>
</ol>

<h1 class="page-header">Product Page</h1>

<div class="row" style="margin-left: 1px;">
    <a class="btn btn-success m-r-5" data-toggle="modal" href='#product_add_modal'>add new Product</a>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">all Products</h4>
            </div>
            <div class="panel-body">
                <table id="data-table" class="table table-striped table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Purchase Price</th>
                            <th>Selling Price</th>
                            <th>In Stock </th>
                            <th>Options</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let product of products">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                               <button class="btn btn-info btn-icon btn-circle btn-sm"> <i class="fa fa-user"></i> </button>
                               <button class="btn btn-success btn-icon btn-circle btn-sm"> <i class="fa fa-edit"></i> </button>
                               <button class="btn btn-danger btn-icon btn-circle btn-sm"> <i class="fa fa-trash"></i></button>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end panel -->
</div>
<!-- end col-12 -->

<div class="modal fade" id="product_add_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered"  data-parsley-validate="true" encType="multipart/form-data"   method="post" acceptCharset="utf-8" >

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Product Code </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text"  name="serial_number" required="" placeholder="" defaultValue="433c47cd9d" readOnly=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Product Name </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" name="name" required="" placeholder="Product Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Category </label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control selectpicker"  data-size="10" data-live-search="true" data-style="btn-white" [(ngModel)]="category_id" name="category_id">
                                    <option value="" selected="">Select Product Category</option>            
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Sub Category </label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control selectpicker"  data-size="10" data-live-search="true" data-style="btn-white" name="sub_category_id">
                                    <option value="" selected="">Select Product Sub Category</option>
                                    <option value="1">Shirt</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Purchase Price </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text"    name="purchase_price" required="" placeholder="Product Purchase Price"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Selling Price </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text"  name="selling_price" required="" placeholder="Product Selling Price"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Notes </label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" name="note" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Image </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control"  ref="product_image" type="file" name="userfile" placeholder="Product Image"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-success">Save Product</button>
                            </div>
                        </div>


                </form>
                                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}