{% extends 'base.html' %}
{% block content %}
<ol class ="breadcrumb pull-right">
    <li><a href="javascript:;">Home</a></li>
    <li class ="active">Dashboard</li>
</ol>

<h1 class ="page-header"> Sale List </h1>

<div class ="row">
        <a class ="btn btn-success" href="{% url 'sale_create' %}">Add New Sale</a>
</div>

<br/>

<div class ="row">
    <div class ="col-md-12">
        <div class ="panel panel-inverse">
            <div class ="panel-heading">
                <div class ="panel-heading-btn">
                    <a href="javascript:;" class ="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class ="fa fa-expand"></i></a>
                    <a href="javascript:;" class ="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class ="fa fa-repeat"></i></a>
                    <a href="javascript:;" class ="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class ="fa fa-minus"></i></a>
                    <a href="javascript:;" class ="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class ="fa fa-times"></i></a>
                </div>
                <h4 class ="panel-title">Data Table - Default</h4>
            </div>
            <div class ="panel-body">
                <table id="data-table" class ="table table-striped table-bordered">
                    <thead>
                        <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Customer</th>
                                <th>email</th>
                                <th>Options </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" key={i}>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}