{% extends 'base.html' %}
{% block content %}
<form class="form-horizontal" encType="multipart/form-data" method="post" acceptCharset="utf-8">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Basic Information</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="note note-success">
                            <h4>Instructions</h4>
                            <ul>
                                <li>Check and recheck before creating the sale. The sale once made can not be altered.</li>
                                <li>You can add product either by barcode scan or by selecting product category.</li>
                                <li>You can enter discount percentage and also can choose your previously set tax percentage form tax settings.</li>
                                <li>Enter the payment amount that the customer gives and see the change amount and net payable amount.</li>
                                <li>The number in parenthesis in product selector represents the present stock quantity of the product.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Invoice Code</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text"
                                    ref="sale_invoice_code" name="invoice_code" data-parsley-required="true"
                                    defaultValue="d42adab342" readOnly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Customer</label>
                            <div class="col-md-9 col-sm-9">
                                <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white"
                                    data-parsley-required="true" ref="sale_customer_id" name="customer_id"
                                    onChange={this.customeroptionchanage}>
                                    <option value="" selected>Select Customer</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3"> Date</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" class="form-control" id="datepicker-autoClose"
                                    ref="sale_timestamp" name="timestamp"
                                    placeholder="Select Date" defaultValue="12/20/2017"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="sale_info">
        <div class="row">
            <div class="col-md-3">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            </div>
                            <h4 class="panel-title">Select Product By Barcode</h4>
                        </div>

                        <div class="panel-body">

                            <div class="form-group">
                                <div class="col-md-12 col-sm-12">
                                    <input type="text" placeholder="Click Here To Scan Barcode" class="form-control"
                                    name="" autoFocus
                                    id="barcode" autoComplete="off"/>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-warning">

                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            </div>
                            <h4 class="panel-title">Select Product By Category</h4>
                        </div>

                        <div class="panel-body">

                            <div class="form-group">
                                <div class="col-md-12 col-sm-12">
                                    <select onChange={this.get_product} class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white"
                                    ref="sale_category_id" name="category_id">
                                        <option value="" selected>Select A Category</option>
                                    </select>
                                </div>
                            </div>

                            <div id="sub_category_holder">

                            </div>

                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            </div>
                            <h4 class="panel-title">Select Products To Sale</h4>
                        </div>
                        <div class="panel-body">
                            <div id="product_list_holder">

                            </div>
                        </div>
                    </div>

            </div>

            <div class="col-md-9">

                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            </div>
                            <h4 class="panel-title">Select Products To Sale</h4>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Serial</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total</th>
                                            <th><i class="fa fa-trash"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody id="invoice_entry_holder">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5"></div>

                    <div class="col-md-7">

                        <div class="panel panel-default" data-sortable-id="ui-widget-10">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                </div>
                                <h4 class="panel-title">Payment</h4>
                            </div>

                            <div class="panel-body">

                            <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Sub Total</td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="sub_total" defaultValue="" ref="sale_sub_total" name="sub_total"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Discount</td>
                                                    <td id="customer_discount_holder"></td>
                                                </tr>
                                                <tr>
                                                    <td>Tax</td>
                                                    <td>
                                                            <select onChange={this.calculate_grand_total} class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white"
                                                                data-parsley-required="true"ref="sale_tax_percentage" id="tax_percentage">
                                                                <option value="0" selected>None</option>
                                                                <option value="5">Test [d010164] - 5 %</option>

                                                            </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Grand Total</td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" id="grand_total" defaultValue="" ref="sale_grand_total" name="grand_total"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Payment</td>
                                                    <td>
                                                        <input class="form-control text-right" type="text" ref="sale_payment" name="" id="payment" defaultValue=""
                                                            onKeyUp={this.calculate_change_amount} placeholder="Enter Payment Amount" data-parsley-required="true"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Change</td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" ref="sale_change_amount" defaultValue="" id="change_amount"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Net Payment</td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" defaultValue="" ref="sale_net_payment" id="net_payment"
                                                            name="amount"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Due</td>
                                                    <td>
                                                        <input type="text" class="form-control text-right" defaultValue="" ref="sale_due_amount" id="due_amount"
                                                            name="due"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Method</td>
                                                    <td>
                                                        <select class="form-control" ref="sale_payment_method" name="method">
                                                            <option value="" select>Select Payment Method</option>
                                                            <option value="1">Cash</option>
                                                            <option value="2">Check</option>
                                                            <option value="3">Card</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    <div class="form-group col-md-10">
                                        <button type="submit" class="btn btn-success">Create New Sale</button>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

            </div>
        </div>
    </div>

</form>

{% endblock %}