{% extends 'base.html' %}
{% block content %}
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">Purchase</a></li>
	</ol>

	<h1 class="page-header">Purchase Page</h1>

    <div class="row">
           <a class="btn btn-success" href="{% url 'purchase_create' %}">Add New Purchase</a>
   </div>

   <br/>

	<div class="row">
    	<div class="col-md-12">
        	<div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all Purchase</h4>
                </div>
                <div class="panel-body">
            		<table id="data-table" class="table table-striped table-bordered" width="100%">
                        <thead>
                             <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Supplier</th>
                                <th>Date</th>
                                <th>Options </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
{% endblock %}