   {% extends 'base.html' %}
{% block content %}
   <form  class="form-horizontal" data-parsley-validate="true" encType="multipart/form-data" 	method="post" acceptCharset="utf-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <div class="panel-heading-btn">
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    </div>
                                    <h4 class="panel-title">Basic Information</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="note note-success">
                                            <h4>Instructions</h4>
                                            <ul>
                                                <li>Check and recheck the informations you have given before creating the purchase. The purchase once made can not be altered.</li>
                                                <li>You can add multiple products of any amount during the purchase.</li>
                                                <li>The number in parenthesis in product selector represents the present stock quantity of the product.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3">Purchase Code </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input class="form-control" type="text" ref="purchase_code" ref="purchase_code" name="purchase_code" data-parsley-required="true"
                                                    defaultValue="965f8acb4f" readOnly />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3"> Supplier</label>
                                            <div class="col-md-9 col-sm-9">
                                                <select class="form-control selectpicker" ref="supplier_id" data-size="10" data-live-search="true" data-style="btn-white" data-parsley-required="true" name="supplier_id">
                                                    <option value="" selected>Select Supplier</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3">
                                                Date                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="text" class="form-control" id="datepicker-autoClose" name="timestamp"
                                                   ref="purchase_timestamp"  placeholder="Select Date" defaultValue="12/20/2017"/>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <div class="panel-heading-btn">
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    </div>
                                    <h4 class="panel-title">Purchase Products</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <div class="col-md-12 col-sm-12">
                                                <select onChange={this.add_product_for_purchase} class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-success" name="product_id">
                                                    <option value="" selected>Add A Product</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-9">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Serial</th>
                                                        <th>Name</th>
                                                        <th>Quantity</th>
                                                        <th>Unit Price</th>
                                                        <th>Total</th>
                                                        <th><i class="fa fa-trash"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="purchase_entry_holder">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5">
                            <div class="panel panel-default" data-sortable-id="ui-widget-10">
                                <div class="panel-heading">
                                    <div class="panel-heading-btn">
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    </div>
                                    <h4 class="panel-title">Payment</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Grand Total</td>
                                                    <td class="text-right" ref="purchase_grand_total" id="grand_total"></td>
                                                </tr>
                                                <tr>
                                                    <td>Payment</td>
                                                    <td>
                                                        <input class="form-control" type="text" ref="purchase_amount" name="amount" id="" defaultValue="" placeholder="Enter Payment Amount"
                                                            data-parsley-required="true"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Method</td>
                                                    <td>
                                                        <select class="form-control" ref="purchase_method" name="method">
                                                            <option value="" selected>Select Payment Method</option>
                                                            <option value="1">Cash</option>
                                                            <option value="2">Check</option>
                                                            <option value="3">Card</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="form-group col-md-10">
                                            <button type="submit" class="btn btn-success">Create New Purchase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
   {% endblock %}