{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angularinventory</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/theme/default.css' %}" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
        <link href="{% static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
    <!-- <link href="assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" /> -->
        <link href="{% static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
    <!--  <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" /> -->
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <!-- <script src="assets/plugins/pace/pace.min.js"></script> -->
    <!-- ================== END BASE JS ================== -->

</head>
<body>
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <div id="root">
            <div id="header" class="header navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="{% url 'home' %}" class="navbar-brand" > <span class="navbar-logo"></span>  Inventory</a>
                            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form full-width">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter keyword" />
                                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label">5</span>
                                </a>
                                <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                                    <li class="dropdown-header">Notifications (5)</li>
                                    <li class="media">
                                        <a href="javascript:;">
                                            <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Server Error Reports</h6>
                                                <div class="text-muted f-s-11">3 minutes ago</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-footer text-center">
                                        <a to="/notification">View more</a>
                                    </li>
                                </ul>
                            </li>


                            <li class="dropdown navbar-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="assets/img/user-13.jpg" alt="" />
                                    <span class="hidden-xs">Adam Schwartz</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInLeft">
                                    <li class="arrow"></li>
                                    <li> <a href="{% url 'home' %}">Profile</a></li>
                                    <li> <a href="{% url 'home' %}">Messaging</a></li>
                                    <li> <a href="{% url 'settings_list' %}">System Setting</a></li>
                                    <li><a href="">Log Out</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

                <div id="sidebar" class="sidebar">
                    <div data-scrollbar="true" data-height="100%">

                        <ul class="nav">
                            <li class="nav-profile">
                                <div class="image"> <a href="javascript:;"><img src="assets/img/user-13.jpg" alt="" /></a></div>
                                <div class="info">Sean Ngu<small>Front end developer</small></div>
                            </li>
                        </ul>


                        <ul class="nav">
                            <li class="active"><a href="{% url 'home' %}"><i class="fa fa-users"></i> <span>Dashboard </span></a></li>
                            <li><a href="{% url 'customer_list' %}"><i class="fa fa-users"></i>customer</a></li>
                            <li class=""> <a href="{% url 'supplier_list' %}"> <i class="fa fa-users"></i> <span>Supplier</span> </a></li>
                            <li class=""> <a href="{% url 'employeer_list' %}"> <i class="fa fa-users"></i> <span>Employeer</span> </a></li>
                            <li class="has-sub">
                                <a href="javascript:;"><b class="caret pull-right"></b><i class="fa fa-shopping-cart"></i>
                                    <span>Manage Products</span>
                                </a>
                                <ul class="sub-menu">
                                    <li class=""> <a href="{% url 'product_list' %}">Product</a> </li>
                                    <li class=""> <a href="{% url 'employeer_list' %}" >Prodcut Barcode</a> </li>
                                    <li class=""> <a href="{% url 'category_list' %}">Category</a></li>
                                    <li class=""> <a href="{% url 'subcategory_list' %}">Sub Category</a> </li>
                                    <li class="="> <a href="{% url 'dproudct_list' %}">Damaged Product</a></li>
                                </ul>
                            </li>

                            <li class="has-sub">
                                <a href="javascript:;"><b class="caret pull-right"></b><i class="fa fa-bell"></i><span>Manage Orders</span></a>
                                <ul class="sub-menu">
                                    <li class=""> <a href="{% url 'order_create' %}">Create New Order</a></li>
                                    <li class=""> <a href="{% url 'order_list' %}">All Orders</a></li>
                                </ul>
                            </li>

                            <li class="has-sub">
                                <a href="javascript:;"><b class="caret pull-right"></b> <i class="fa fa-bell"></i><span>Manage Purchases</span></a>
                                <ul class="sub-menu">
                                    <li class=""> <a href="{% url 'purchase_create' %}">New Purchases</a></li>
                                    <li class=""> <a href="{% url 'purchase_list' %}"> Purchase History</a></li>
                                </ul>
                            </li>

                            <li class="has-sub">
                                <a href="javascript:;"><b class="caret pull-right"></b><i class="fa fa-bell"></i><span>Manage Sales</span></a>
                                <ul class="sub-menu">
                                    <li class=""> <a href="{% url 'sale_create' %}">New Sales</a></li>
                                    <li class=""> <a href="{% url 'sale_list' %}"> Sales Invoice</a></li>
                                </ul>
                            </li>


                            <li class="has-sub">
                                <a href="javascript:;"><b class="caret pull-right"></b><i class="fa fa-bell"></i> <span>Payments</span></a>
                                <ul class="sub-menu">
                                    <li class=""> <a href="{% url 'payment_list' %}">Payments</a></li>
                                    <li class=""> <a href="{% url 'customer_payment_list' %}">Customer Payments</a></li>
                                </ul>

                            </li>

                            <li class=""> <a href="{% url 'dproudct_list' %}"> <i class="fa fa-users"></i> <span>Messaging</span> </a></li>

                            <li class=""> <a href="{% url 'tax_list' %}"> <i class="fa fa-users"></i> <span>Tax Settings</span> </a></li>

                            <li class=""> <a href="{% url 'settings_list' %}"> <i class="fa fa-users"></i> <span>System Setting</span> </a></li>
                            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>

                        </ul>
                    </div>
                </div>

                <div class="sidebar-bg"></div>

                <div id="content" class="content">
                   <!-- <router-outlet> </router-outlet> -->
                    {% block content %} {% endblock %}
                </div>

        </div>
    </div>

    <!-- ================== BEGIN BASE JS ================== -->
	<script src="{%  static 'assets/plugins/jquery/jquery-1.9.1.min.js'%}"></script>
	<script src=" {% static 'assets/plugins/jquery/jquery-migrate-1.1.0.min.js'%}"></script>
	<script src="{%  static 'assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{%  static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
	<!--[if lt IE 9]>
		<script src="{%  static 'assets/crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{%  static 'assets/crossbrowserjs/respond.min.js' %}"></script>
		<script src="{%  static 'assets/crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{%  static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{%  static 'assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <!-- 	<script src="assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="assets/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script> -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{%  static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{%  static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{%  static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{%  static 'assets/js/table-manage-default.demo.min.js' %}"></script>
	<script src="{%  static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	 <!-- <script src="assets/js/dashboard.min.js"></script>  -->
	<script src="{% static 'assets/js/apps.min.js' %} "></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			//Dashboard.init();
			TableManageDefault.init();
		});
	</script>
</body>
</html>
