{% extends 'base.html' %}
{% block content %}

	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">employeer</a></li>
	</ol>

	<h1 class="page-header">Employeer Page</h1>

	<div class="row" style="margin-left: 1px;">
		<a class="btn btn-success m-r-5" data-toggle="modal" href='#employee_add_modal'>add new Employeer</a>
	</div>

	<div class="row">
    	<div class="col-md-12">
        	<div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all employeers</h4>
                </div>
                <div class="panel-body">
                    <input type="text" name="employeersearch"  id="">
            		<table id="data-table" class="table table-striped table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>code</th>
                                <th>name</th>
                                <th>email</th>
                                <th>address</th>
                                <th>phone</th>
                                <th>options</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                            <tr *ngFor="let employeer of employeers | employeerfilter:employeersearch">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
	                               <button class="btn btn-info btn-icon btn-circle btn-sm"> <i class="fa fa-user"></i> </button>
	                               <button class="btn btn-success btn-icon btn-circle btn-sm"> <i class="fa fa-edit"></i> </button>
	                               <button class="btn btn-danger btn-icon btn-circle btn-sm"> <i class="fa fa-trash"></i></button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->


<div class="modal fade" id="employee_add_modal">
    <div class="modal-dialog">
        <div class="modal-content">

        		<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>

                <div class="modal-body">
					
					<form  method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">

						<div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Employee Name </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text"  name="employee_name" required="" placeholder="Employee Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Email </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="email" name="email" required="" placeholder="Employee Email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Password </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="password" name="password" required="" placeholder="Employee Password"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Type </label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white"  name="employee_type" required="">
                                    <option value="" selected="">Select Employee Type</option>
                                    <option value="1">Sales Staff</option>
                                    <option value="2">Purchase Staff</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">Phone</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" name="phone" placeholder="Employee Phone Number"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Address </label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" name="address" placeholder="Employee Address" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">Image</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="file" name="userfile"  placeholder="Employee Image"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-success">Save Supplier</button>
                            </div>
                        </div>

					</form>

                </div>
				
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
        </div>
    </div>
</div>

{% endblock %}