{% extends 'base.html' %}
{% block content %}
<ol class="breadcrumb pull-right">
    <li><a href="">Dashboard</a></li>
</ol>
<h1 class="page-header">Dashboard</h1>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-users"></i></div>
            <div class="stats-info">
                <h4>Total Customers</h4>
                <p>1</p>	
            </div>
            <div class="stats-a">
                <a href="{% url 'customer_list' %}">View Customer List <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon"><i class="fa fa-bell"></i></div>
            <div class="stats-info">
                <h4>Pending Orders</h4>
                <p>0</p>	
            </div>
            <div class="stats-a">
            <a href="{% url 'order_list' %}">View All Orders <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-purple">
            <div class="stats-icon"><i class="fa fa-dollar"></i></div>
            <div class="stats-info">
                <h4>Total Income Amount</h4>
                <p>3822.88</p>	
            </div>
            <div class="stats-a">
                <a href="{% url 'sale_list' %}">View Sale Invoices <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-black">
            <div class="stats-icon"><i class="fa fa-money"></i></div>
            <div class="stats-info">
                <h4>Total Purchase Amount</h4>
                <p>5000</p>	
            </div>
            <div class="stats-a">
                <a href="{% url 'purchase_list' %}">View Purchase History <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}