{% extends 'base.html' %}
{% block content %}
<form  class="form-horizontal" data-parsley-validate="true" encType="multipart/form-data" method="post" acceptCharset="utf-8">

<div class="row">
     {% csrf_token %}

    {{ form.as_P }}
</div>

    <div class="row">
		<div class="col-md-12">
	        <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
                        	<i class="fa fa-expand"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse">
                        	<i class="fa fa-minus"></i>
                        </a>
                    </div>
                    <h4 class="panel-title">Basic Information</h4>
                </div>

                <div class="panel-body">
                    <div class="col-md-6">
                    	<div class="note note-success">
							<h4>Instructions</h4>
							<ul>
								<li>Check and recheck added products before creating the order. Products added can not be edited later but other informations are editable.</li>
								<li>You can add multiple products in a single order.</li>
								<li>If order status and payment status is not selected, they will be automatically counted as pending order with unpaid payment status.</li>
								<li>The number in parenthesis in product selector represents the present stock quantity of the product.</li>
							</ul>
						</div>
                    </div>


                    <div class="col-md-6">

						<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Order Code</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" ref="order_number" type="text" name="order_number" />
                            </div>
                        </div>

                        <div class="form-group">
							<label class="control-label col-md-3 col-sm-3">Customer</label>
							<div class="col-md-9 col-sm-9">
							    <select class="form-control selectpicker" ref="order_customer">
					                <option value="" selected>Select Customer</option>            
					    		</select>
							</div>
						</div>

						<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">Date</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" class="form-control" id="datepicker-autoClose" ref="order_creating_timestamp" name="creating_timestamp"
                                	placeholder="Select Date" defaultValue="12/20/2017"/>
                            </div>
                        </div>

					</div>
                </div> 
            </div> 
        </div>
    </div>

    <div id="order_info">
		<div class="row">
			<div class="col-md-12">
		        <div class="panel panel-inverse">
	                <div class="panel-heading">
	                    <div class="panel-heading-btn">
	                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	                    </div>
	                    <h4 class="panel-title">Purchase Products</h4>
	                </div>

		            <div class="panel-body">
	                    <div class="col-md-3">
	                    	<div class="form-group">
								<div class="col-md-12 col-sm-12">
								    <select class="form-control selectpicker" name="product_id">
						                <option value="" selected>Add A Product</option>
						       		</select>
								</div>
							</div>
	                    </div>

	                    <div class="col-md-9">
	                    	<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Serial</th>
											<th>Name</th>
											<th>Quantity</th>
											<th>Unit Price</th>
											<th>Total</th>
											<th><i class="fa fa-trash"></i></th>
										</tr>
									</thead>
									<tbody id="order_entry_holder">

									</tbody>
								</table>
							</div>
	                    </div>
		            </div>
	            </div>
		    </div>
		</div>


		<div class="row">
			<div class="col-md-7">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <div class="panel-heading-btn">
	                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default">
	                        	<i class="fa fa-expand"></i>
	                        </a>
	                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning">
	                        	<i class="fa fa-minus"></i>
	                        </a>
	                    </div>

	                    <h4 class="panel-title"> Other Informations</h4>
	                </div>

	                <div class="panel-body">

	                    <div class="form-group">
							<label class="control-label col-md-3 col-sm-3">Order Status</label>
							<div class="col-md-9 col-sm-9">
								<select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" data-parsley-required="true"
										ref="order_status" name="order_status">
					                <option value="" selected>Select Order Status</option>
					                <option value="0">Pending</option>
					                <option value="1">Approved</option>
					                <option value="2">Rejected</option>
					            </select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3">Payment Status</label>
							<div class="col-md-9 col-sm-9">
								<select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" data-parsley-required="true" 
									ref="order_payment_status" name="payment_status">
					                <option value="" selected>Select Payment Status</option>
					                <option value="0">Unpaid</option>
					                <option value="1">Paid</option>
					            </select>
							</div>
						</div>

						<div class="form-group">
					        <label class="control-label col-md-3 col-sm-3">Address</label>
					        <div class="col-md-9 col-sm-9">
					            <textarea class="form-control" ref="order_shipping_address" name="shipping_address" placeholder="Shipping Address" rows="3"></textarea>
					        </div>
					    </div>

					    <div class="form-group">
					        <label class="control-label col-md-3 col-sm-3">Note</label>
					        <div class="col-md-9 col-sm-9">
					            <textarea class="form-control" ref="order_note" name="note" placeholder="Notes" rows="3"></textarea>
					        </div>
					    </div>

	                </div>
	            </div>
	        </div>

	        <div class="col-md-5">
	            <div class="panel panel-default" data-sortable-id="ui-widget-10">
	                <div class="panel-heading">
	                    <div class="panel-heading-btn">
	                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	                    </div>
	                    <h4 class="panel-title">Payment</h4>
	                </div>
	                <div class="panel-body">
	                    <div class="table-responsive">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td>Sub Total</td>
										<td>
											<input type="text" class="form-control text-right" id="sub_total" value="" ref="order_sub_total" name="sub_total"/>
										</td>
									</tr>
									<tr>
										<td>Discount</td>
										<td id="customer_discount_holder"></td>
									</tr>
									<tr>
										<td>VAT</td>
										<td>
											<input class="form-control text-right" type="text" ref="order_vat_percentage" name="vat_percentage" id="vat_percentage"
												value="" placeholder="VAT Percentage" data-parsley-required="true"/>
										</td>
									</tr>
									<tr>
										<td>Grand Total</td>
										<td>
											<input type="text" class="form-control text-right" id="grand_total" value="" ref="order_grand_total" name="grand_total"/>
										</td>
									</tr>
									<tr>
										<td>Payment</td>
										<td>
											<input class="form-control text-right" type="text" ref="order_payment" name="" id="payment" value=""
													placeholder="Enter Payment Amount"
														data-parsley-required="true"/>
										</td>
									</tr>
									<tr>
											<td>Change</td>
											<td>
												<input type="text" class="form-control text-right" value="" ref="order_change_amount" id="change_amount"/>
											</td>
										</tr>
										<tr>
											<td>Net Payment</td>
											<td>
												<input type="text" class="form-control text-right" value="" id="net_payment" ref="order_net_payment" name="amount"/>
											</td>
										</tr>
										<tr>
											<td>Due</td>
											<td>
												<input type="text" class="form-control text-right" value="" id="due_amount" ref="order_due_amount" name="due"/>
											</td>
										</tr>
										<tr>
											<td>Method</td>
											<td>
												<select class="form-control" ref="order_payment_method" name="method" data-parsley-required="true">
									                <option value="" selected>Select Payment Method</option>
									                <option value="1">Cash</option>
									                <option value="2">Check</option>
									                <option value="3">Card</option>
									            </select>
											</td>
										</tr>
								</tbody>
							</table>
							<div class="form-group col-md-10">
								<button type="submit" class="btn btn-success">Create New Order</button>
							</div>
						</div>
	                </div>
	            </div>
			</div>
	    </div>
	</div>
</form>

{% endblock %}