{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-md-3"></div>
		<div class="col-md-6">
	        <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Select Date Range</h4>
                </div>

                <div class="panel-body">
                    <form  class="form-horizontal form-bordered" data-parsley-validate="true" encType="multipart/form-data" method="post" acceptCharset="utf-8">

						<div class="form-group">
						    <label class="col-md-3">Date Range</label>
						    <div class="col-md-8">
						        <div class="input-group input-daterange">
						            <input type="text" class="form-control" ref="start_date" name="start"
						            	defaultValue="11/21/2017" />
						            <span class="input-group-addon">To</span>
						            <input type="text" class="form-control" ref="end_date" name="end"
						            	defaultValue="12/20/2017" />
						        </div>
						    </div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-sm-3"></label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-success">Go</button>
							</div>
						</div>

					</form>                
				</div>
            </div>
		</div>
		<div class="col-md-3">
			<div class="alert alert-info fade in m-b-15">
				<strong>
					21 Nov, 2017 - 20 Dec, 2017				</strong>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
	        <div class="widget-chart bg-black">
	            <div class="">
	                <h4 class="chart-title">
	                    
	                </h4>
	                <div id="chartdiv"></div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row">
		<div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title"> Payments</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Customer</th>
                                    <th>Type</th>
                                    <th>Method</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock %}