{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angularinventory</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/theme/default.css' %}" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
        <link href="{% static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
    <!-- <link href="assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" /> -->
        <link href="{% static 'assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />
    <!--  <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" /> -->
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <!-- <script src="assets/plugins/pace/pace.min.js"></script> -->
    <!-- ================== END BASE JS ================== -->

</head>
<body>
    <div class="login-cover">
        <div class="login-cover-image"><img src="assets/img/login-bg/bg-1.jpg" data-id="login-cover-image" alt="" /></div>
        <div class="login-cover-bg"></div>
    </div>

    <div id="page-container" class="fade in">
        <div class="login login-v2">
            <div class="login-header">
                <div class="brand">
                    <span class="logo"></span> Color Admin
                    <small>responsive bootstrap 3 admin template</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <div class="login-content">
                <form  method="POST" class="margin-bottom-0">
                    <div class="form-group m-b-20">
                        <input type="text" class="form-control input-lg" ref="login_email" placeholder="Email Address" required />
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" class="form-control input-lg" ref="login_password" placeholder="Password" required />
                    </div>
                    <div class="checkbox m-b-20">
                        <label>
                            <input type="checkbox" ref="login_remember" /> Remember Me
                        </label>
                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                    </div>
                    <div class="m-t-20">
                        Not a member yet? Click <a href="#">here</a> to register.
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ================== BEGIN BASE JS ================== -->
	<script src="{%  static 'assets/plugins/jquery/jquery-1.9.1.min.js'%}"></script>
	<script src=" {% static 'assets/plugins/jquery/jquery-migrate-1.1.0.min.js'%}"></script>
	<script src="{%  static 'assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{%  static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
	<!--[if lt IE 9]>
		<script src="{%  static 'assets/crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{%  static 'assets/crossbrowserjs/respond.min.js' %}"></script>
		<script src="{%  static 'assets/crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{%  static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{%  static 'assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <!-- 	<script src="assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="assets/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script> -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{%  static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{%  static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{%  static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{%  static 'assets/js/table-manage-default.demo.min.js' %}"></script>
	<script src="{%  static 'assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	 <!-- <script src="assets/js/dashboard.min.js"></script>  -->
	<script src="{% static 'assets/js/apps.min.js' %} "></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			//Dashboard.init();
			TableManageDefault.init();
		});
	</script>
</body>
</html>